<header class="site-header">

  <div class="container txt-center">

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/me.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>Hi, I'm Joseph!</h1>

    <nav class="navbar">
      <ul>
        <li><a style="font-size:125%;" href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
        <li class="divider">&bull;</li>
        <li><a style="font-size:125%;" href="{{ "/projects" | prepend: site.baseurl }}">projects</a></li>
        <li class="divider">&bull;</li>
        <li><a style="font-size:125%;" href="/gao.pdf">resume</a></li>
      </ul>
    </nav>

  </div>

</header>
